body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    color: #333;
}

nav {
    margin-bottom: 20px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

nav button {
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #0056b3;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #218838;
}